
.carouselPage{
	margin-top: 10px;
}
.PagerContainer, .ctrlBtnContainer{
	/*margin-bottom: 10px;*/
}
.diagramBtn_ekstra{  
	/*margin-bottom: 10px;*/
}

@media screen and (min-width: 750px) {  /*Compensation for the media query set in the general styles */
    .diagramBtn {
        margin-bottom: 10px;
    }
}


.CloseClass_new {
    color: rgba(0, 0, 0, 0.5);
    margin-right: -15px;
    margin-top: -15px;
    font-size: 1.6em;
}

.MsgBox_bgr_new {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 110;

    /* The following code i borrowed from: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
    -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#UserMsgBox_new {
    background-color: #fff;
    border: 0 solid silver;
    border-radius: 3px;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    overflow: auto;
    padding: 30px;
    position: absolute;
    top: 5%;
    /*max-width: 95%;*/
    /*display: inline-table;*/  /*This make the UserMsgBox_new div element ajust to the image-size*/

    /* The following code i borrowed from: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: perspective(1px) translateY(-50%);
}

#UserMsgBox_new {  /*.OverlayTextContainer */
    cursor: pointer;
    left: 0;
    right: 0;

    /*display: inline-block;  
    margin-left: auto;
	margin-right: auto;*/
}
.centerImg{
	margin-left: auto;
	margin-right: auto;
}

.glyphicon-search{
	position: absolute;
	left: 93%;
	top: 10px;
	font-size: 2em;
	color: rgba(0, 0, 0, 0.5);
}
.answerChoice input {
	margin-right: 10px; 
}
.answerWrong{
	/*background-color: #ed3e3a !important;*/  /* <----- TLY does not want this. 30/9-2016 */
}
.answerCorrect{
	background-color: #2abb2a !important;
}

.carousel .carousel-indicators .active {
	height: 13px;
	width: 13px;
	position: relative;
	top: -2px;
	border: 1px solid #717272;  /* <----- TLY want this instead of #000. 30/9-2016 */
	background-color: #717272;  /* <----- TLY want this instead of #000. 30/9-2016 */
    opacity: 0.7;
}
.answerChoice label{
	font-weight: normal;	
}

.carousel-indicators .answerCorrect.active{
	border: 1px solid #227722;      /* <----- TLY want this. 30/9-2016 */
}

.ctrlBtnContainer .vuc-correct{
	background-color: #8daa8d;  /* <----- TLY want this. 30/9-2016 */
}

.inputfield{
	margin-top: 10px;
}

.ctrlBtnContainer .vuc-info-active{  /* This need to be here due to the precedence in definition-order */
	background-color: #717272;
	color: #FFF;
}


/**************    *********************/

.carousel .carousel-control {
    left: -20px;
    opacity: 0.7;
    text-shadow: none;
    width: 40px;
}

.carousel .carousel-control.right {
    left: auto;
    right: -21px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -20px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -20px;
}